/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

@font-face {
    font-family: 'Cooper LT BT';
    src: url('/assets/fonts/CooperLTBT.woff2') format('woff2'),
         url('/assets/fonts/CooperLTBT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    overflow-x: hidden; /* Запрещаем горизонтальный скролл */
    height: 100%;
   /* overflow: hidden; /* Убираем вертикальную прокрутку */
   /* touch-action: none; /* Отключаем случайные жесты */
}

/* Кастомный курсор - точка */
.cursor-dot {
    position: fixed;
    width: 15px; /* Размер точки */
    height: 15px;
    background-color: white; /* Цвет курсора */
    border-radius: 50%; /* Делаем круглым */
    pointer-events: none; /* Чтобы курсор не блокировал клики */
    transform: translate(-50%, -50%); /* Центрируем */
    z-index: 9999; /* Поверх всего */
}

* {
    cursor: none !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow: hidden; /* Убираем вертикальную прокрутку */
}

@media (max-width: 1024px) { /* Можно изменить на 768px, если только для телефонов */
    .cursor-dot {
        display: none;
    }
}


/* Общие стили */
body {
    cursor: none;
    background-color: #060906;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Убираем прокрутку */
    position: relative;
}

.parent-container { /* родительский блок для .content */
    display: flex;
    flex-direction: column;
    justify-content: center; /* центрирование по вертикали */
    align-items: center; /* центрирование по горизонтали */
    height: 100vh; /* высота на весь экран */
    position: relative;
}

/* Основной контейнер */
.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between; /* Раздвигаем контент по высоте */
    justify-content: center;
    align-items: center; /* Центрируем по горизонтали */
    height: 100vh; /* Растягиваем на весь экран */
    position: relative; /* Обязательно */
}

/* Логотип */
.logo {
    width: 90px;
    position: absolute;
    height: auto;
    display: block;
    margin-top: 36px;
   /* margin-bottom: auto; /* Дает место снизу */
    transform: translateX(-50%); /* Центрируем */
    cursor: none;
}

/* Контентный блок */
.content {
    display: flex;
    flex: 1; /* Занимает всё доступное место */
    margin: 0;
    padding: 0 44;
    flex-direction: column;
    justify-content: center; /* Центрируем */
    align-items: center;
    min-height: 0; /* На всякий случай */
}

.subtitle {
    font-size: 10pt;
    text-transform: uppercase;
    margin: 0; /* Убираем все стандартные отступы /#   margin-bottom: 46#px; */
}

.headline {
    font-size: 36pt;
    font-weight: 400;
    line-height: 0.9;
    font-weight: 400;
    margin-bottom: 26px; /* Задаем свой нижний отступ */
    margin-top: 18px;
    z-index: 500;
    padding: 12px 0;
}

@media (max-width: 768px) {
    .headline {
        font-size: 32pt; /* Уменьшаем заголовок */
        padding: 0 40px;
    }

    .footer-svg {
        max-height: 12vh; /* Уменьшаем футер еще больше */
    }
}

/* Кнопки */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    cursor: none; /* Убираем стандартный курсор */
}

.button {
    /*display: inline-block;*/
    display: flex;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 10pt;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.button:hover {
    cursor: url('/assets/svg/custom-cursor-2'), auto;
}

.button-primary {
    background: white;
    padding: 0;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Cooper LT BT', sans-serif;
    font-weight: regular;
    color: black;
    position: relative;
    width: 180; /* дублируем ширину */
    height: 40; /* дублируем высоту */
}

.button-primary span {
    background: #ffee69; /* Цвет фона под текстом */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 0px 0px; /* Уменьшаем отступы вокруг текста */
    line-height: 1; /* Исправляем высоту текста */
    display: inline-block; /* Корректное поведение */
    border-radius: 3px;
}

.button-secondary {
    background-color: transparent;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    border: 1px solid #232323;
    text-fill-color: #000000;
}

.button-secondary:hover {
    background-color: #232323;
    color: #ffffff;
}

.button-primary:hover {
    background-color: #ffee69;
    color: #0A0B0C;
}

/* SVG фоновая картинка */
.background-svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 480px; /* уменьшаем ширину */
    height: auto; /* сохраняем пропорции */
    max-height: 85vh; /* ограничиваем высоту */
    z-index: -100;
} 

@media (max-width: 768px) {
    .background-svg {
        width: 420px; 
    }
}


/*.footer-wrapper {
    position: absolute;
    bottom: 36px;
    left: 0;
    width: 100vw; /* Делаем ширину равной экрану 
    overflow: hidden; /* Обрезаем все, что выходит за экран 
    white-space: nowrap;
}*/

/*.footer-svg {
    display: inline-block;
    height: 38px;
    width: auto;
    min-width: 200%;  Делаем SVG шире, чтобы он красиво двигался 
    animation: moveFooter 300s linear infinite;
}*/

/*.footer-svg {
  /*  display: inline-block;
    position: absolute;
    bottom: 36px;
    height: 38px;
    width: 100vw;
    overflow: hidden;
    min-width: 200%;  Делаем SVG шире, чтобы он красиво двигался 
    animation: moveFooter 300s linear infinite;
    position: fixed;  Вместо absolute 
    bottom: 36px;
    left: 0;
    width: 100vw;  Растягиваем на всю ширину 
    height: auto;
    min-height: 38px; /* Минимальная высота, если вдруг сжимается 
    overflow: hidden;
    animation: moveFooter 300s linear infinite;
}*/

.footer-wrapper {
    position: fixed; /* Фиксируем внизу экрана */
    bottom: 36px;
    left: 0;
    width: 100vw; /* Занимает всю ширину экрана */
    height: 38px; /* Фиксированная высота */
    overflow: hidden; /* Обрезаем лишнее */
    background-color: transparent; /* Фон не нужен */
    white-space: nowrap; /* Запрещаем перенос строк */
}

.footer-svg {
    display: inline-block;
    height: 38px; /* Фиксированная высота */
    width: auto; /* Автоширина */
    min-width: 200%; /* Делаем шире экрана, чтобы создать эффект бегущей строки */
    animation: moveFooter 550s linear infinite; /* Анимация */
}

@media (max-width: 768px) {
    .footer-svg {
        bottom: 55px; 
    }
}

@keyframes moveFooter {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Нижний SVG 
.footer-svg {
    position: absolute;
    bottom: 36px; /* Немного поднимаем 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block; /* Убираем возможные лишние отступы 
}

@media (max-width: 1800px) {
    .footer-svg {
        height: 64px; /* увеличиваем высоту в моб. версии 
        width: 280vw; /* Еще больше растягиваем на мобильных 
        transform: translateX(-20%); /* Корректируем центр 
    } */
}

