/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

@font-face {
    font-family: 'Cooper LT BT';
    src: url('/assets/fonts/CooperLTBT.woff2') format('woff2'),
         url('/assets/fonts/CooperLTBT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Общие стили */
body {
    background-color: #0E0E08;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Убираем прокрутку */
    position: relative;
}

.parent-container { /* родительский блок для .content */
    display: flex;
    flex-direction: column;
    justify-content: center; /* центрирование по вертикали */
    align-items: center; /* центрирование по горизонтали */
    height: 100vh; /* высота на весь экран */
    position: relative;
}

/* Основной контейнер */
.container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: auto;
}

/* Логотип */
.logo {
    width: 90px;
    height: auto;
    display: block;
    margin-top: 36px;
}

/* Контентный блок */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 36px - 36px); /* 100% высоты минус отступы сверху и снизу */
}

.subtitle {
    font-size: 10pt;
    text-transform: uppercase;
    margin: 0; /* Убираем все стандартные отступы /#   margin-bottom: 46#px; */
}

.headline {
    font-size: 34pt;
    font-weight: 400;
    margin: 0; /* Убираем все стандартные отступы */
    font-size: 36pt;
    font-weight: 400;
    margin-bottom: 46px; /* Задаем свой нижний отступ */
    margin-top: 46px;
}

/* Кнопки */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.button {
    display: inline-block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    border-radius: 11px;
}

.button-primary {
    background-color: #ffffff;
    color: #0E0E08;
    font-family: 'Cooper LT BT', sans-serif;
    font-weight: bold;
    border: none;
    text-fill-color: #eeee69;
    -webkit-text-fill-color: #eeee69;
}

.button-secondary {
    background-color: transparent;
    color: #000000;
    font-family: 'Manrope', sans-serif;
    border: 1px solid #1C1D1B;
    text-fill-color: #000000;
}

.button-secondary:hover {
    background-color: #000000;
    color: #0E0E08;
}

/* SVG фоновая картинка */
.background-svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
}

/* Нижний SVG */
.footer-svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); /* выравниваем по центру */
    width: 100%;
    height: auto;
    max-width: 100%;
}

@media (max-width: 768px) {
    .footer-svg {
        height: 64px; /* увеличиваем высоту в моб. версии */
    }
}

